.accounts-form > div {
	text-align: center;
	margin-top: 20px;
}

.accounts-form {
	max-width: 250px;
	margin: 0 auto;
}

.accounts-button {
	min-width: 140px;
}

label {
	width: 100%;
	text-align: left;
	font-weight: 400;
	color: #388e3c;
}